body {
    font-family: 'Inter', sans-serif;
    position: relative;
    min-height: 100vh;
}

h1 {
    color:#F6BD60;
    font-size: 36px;
}

#nav-happy-cat-cafe {
    color:#F6BD60;
    font-size: 36px;
    font-weight: bold;
}

footer { 
    background-color: #90F1EF;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    width: 50%;
    justify-content: space-around;
    list-style-type: none;
    font-size: 24px;
}

main { 
    display: flex;
    align-items: center;
    padding: 5rem 5rem 8rem 5rem;
}

#aboutus-text p { 
    font-size: 24px;
}

#main-cat-img{
    transform: translate(-42px, 18px);
    box-shadow: 70px -70px #FFD6E0;
}

footer {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

footer img{
    height: 80px;
}

@media only screen and (max-width: 920px) {
    ul {
        display: none;
    }

    main {
        flex-direction: column-reverse;
        padding: 0rem 0 10rem 0;
    }

    #main-cat-img {
        margin-bottom: 3rem;
        box-shadow: none;
        width: 100%;
        transform: none;
    }

    #aboutus-text {
        text-align: center;
    }
  }

@media only screen and (min-width: 921px) {
    #hamburger-menu {
        display: none;
    }

    #aboutus-text {
        padding-right: 5rem;
    }
}

@media only screen and (max-width: 630px) {
    #main-cat-img {  
        box-shadow: none;
        width: 100%;
    }
  }

@media only screen and (max-width: 580px) {
    footer {  
        flex-direction: column;
        align-items: center;
    }
}